<div>
	<h1>Empresa</h1>
	<h2>Recupero de contraseña:</h2>
	<p>Estimado/a [[usuario]] este mail responde a que ha solicitado el 
	restablecimiento de su contraseña. Dado que guardamos sus datos encriptados 
	no podemos suministrarle su contraseña actual. Debera gestionar una nueva 
	contraseña para poder acceder a nuestro portal. Para esto le solicitamos que 
	haga click sobre el siguiente enlace y complete la información solicitada:</p>
	<p><a href="[[url]]">[[url]]</a></p>
	<p>Si usted no solicito dicho restablecimiento le solicitamos que haga caso 
	omiso a dicho correo electrónico.</p>
</div>