<h1>Condiciones y términos legales</h1>

<p>Esta página web está siendo gestionada o es responsabilidad de XXXXXXXXX 
S.A., con domicilio en XXXXXXXX XXXXX XXXXXX.</p>

<p>Al usar este sítio web se compromete a aceptar estas condiciones. XXXXXXXXX 
se reserva el derecho de modificar estas Condiciones y términos legales 
periódicamente, por lo que deberá visitar esta página de vez en cuando por 
si se produjeran cambios.</p>

<h2>1.Requisitos de Edad</h2>
<p>El registro a este sítio web requiere que sea mayor de edad (XXX años según 
la legislación XXXXXXXX).</p>

<h2>2.Disponibilidad</h2>
<p>XXXXXXXXXX no se compromete a que siempre los contenidos de este sítio estén 
disponibles. No se ofrece garantía alguna de la calidad, funcionalidad, 
disponibilidad o rendimiento de este sítio web. Es usted responsable del pago de 
las tarifas de su Proveedor del Servicio de Internet y de cualquier tarifa 
relacionada con el uso de este sítio web.</p>

<h2>3.Renuncia</h2>
<p>XXXXXXX no garantiza la exactitud, fiabilidad o totalidad de ninguna información 
contenida en este sítio web. Usted acepta que excluye a XXXXXXX por cualquier 
pérdida de información que pudiera sufrir este sítio web por cualquier forma, 
directa y/o indirecta.</p>

<h2>4.Ley</h2>
<p>Estas Condiciones y términos legales están regidos por la ley XXXXXXXX. El
contrato entre XXXXXXX y usted se celebra en XXXXXXXXX.</p>